@import './font.css';
@import './common/commons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    --font-SpoqaHanSansNeo: 'SpoqaHanSansNeo', sans-serif;

    --white: 255, 255, 255;
    --black: 10, 10, 10;

    /* Gray */
    --gray-01: 250, 250, 250;
    --gray-02: 245, 245, 245;
    --gray-03: 229, 229, 229;
    --gray-04: 204, 204, 204;
    --gray-05: 153, 153, 153;
    --gray-06: 128, 128, 128;
    --gray-07: 102, 102, 102;
    --gray-08: 77, 77, 77;
    --gray-09: 51, 51, 51;
    --gray-10: 23, 23, 23;

    /* Sand */
    --sand-01: 250, 247, 245;
    --sand-02: 222, 218, 214;
    --sand-03: 206, 200, 194;
    --sand-04: 189, 181, 173;
    --sand-05: 173, 163, 153;
    --sand-06: 156, 144, 132;
    --sand-07: 130, 120, 110;
    --sand-08: 114, 105, 97;
    --sand-09: 88, 80, 72;
    --sand-10: 65, 54, 44;

    /* Blue */
    --blue-01: 239, 246, 255;
    --blue-02: 219, 234, 254;
    --blue-03: 191, 219, 255;
    --blue-04: 142, 198, 255;
    --blue-05: 96, 165, 250;
    --blue-06: 44, 127, 255;
    --blue-07: 22, 93, 251;
    --blue-08: 20, 71, 230;
    --blue-09: 25, 60, 184;
    --blue-10: 22, 36, 85;

    /* Green */
    --green-01: 240, 253, 244;
    --green-02: 220, 252, 231;
    --green-03: 187, 247, 208;
    --green-04: 134, 239, 172;
    --green-05: 74, 222, 128;
    --green-06: 34, 197, 94;
    --green-07: 22, 163, 74;
    --green-08: 21, 128, 61;
    --green-09: 22, 101, 52;
    --green-10: 20, 83, 45;

    /* Red */
    --red-01: 254, 242, 242;
    --red-02: 254, 226, 225;
    --red-03: 254, 203, 202;
    --red-04: 251, 166, 164;
    --red-05: 247, 113, 112;
    --red-06: 238, 69, 68;
    --red-07: 219, 38, 38;
    --red-08: 185, 28, 28;
    --red-09: 153, 27, 27;
    --red-10: 127, 29, 29;

    /* Yellow */
    --yellow-01: 255, 251, 235;
    --yellow-02: 254, 243, 199;
    --yellow-03: 253, 230, 138;
    --yellow-04: 252, 211, 77;
    --yellow-05: 251, 191, 36;
    --yellow-06: 245, 158, 11;
    --yellow-07: 217, 119, 6;
    --yellow-08: 180, 83, 9;
    --yellow-09: 146, 64, 14;
    --yellow-10: 120, 53, 15;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    margin: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 212);
    border-radius: 4px;
  }

  .default-layout-content {
    @apply mx-auto w-full min-w-[360px];
  }

  body {
    @apply overflow-x-hidden bg-white text-black;
  }
}
