@import './font.css';
@import './common/commons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    --font-SpoqaHanSansNeo: 'SpoqaHanSansNeo', sans-serif;

    --white: 255, 255, 255;
    --black: 34, 34, 34;

    --gray-100: 248, 248, 248;
    --gray-200: 242, 242, 242;
    --gray-300: 238, 238, 238;
    --gray-400: 221, 221, 221;
    --gray-500: 153, 153, 153;
    --gray-600: 102, 102, 102;
    --gray-700: 68, 68, 68;

    --red-900: 79, 24, 24;
    --red-800: 132, 34, 44;
    --red-700: 174, 45, 58;
    --red-600: 218, 67, 82;
    --red-500: 225, 95, 108;
    --red-400: 233, 137, 147;
    --red-300: 242, 179, 185;
    --red-200: 249, 226, 228;
    --red-100: 252, 240, 241;

    --green-500: 11, 170, 72;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    margin: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 212);
    border-radius: 4px;
  }

  .default-layout-content {
    @apply mx-auto w-full max-w-[360px] px-4;
  }

  body {
    @apply overflow-x-hidden bg-white text-black;
  }
}
