@import './font.css';
@import './common/commons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    --font-wantedSans: 'wantedSans', sans-serif;

    --white: #fff;
    --black: #222222;

    --gray-100: #f8f8f8;
    --gray-200: #f2f2f2;
    --gray-300: #eee;
    --gray-400: #ddd;
    --gray-500: #999;
    --gray-600: #666;
    --gray-700: #444;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    margin: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 212);
    border-radius: 4px;
  }

  .default-layout-content {
    @apply mx-auto w-full max-w-[360px] px-4;
  }

  body {
    @apply bg-white text-black;
  }
}
