@import './font.css';
@import './common/commons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    --font-SpoqaHanSansNeo: 'SpoqaHanSansNeo', sans-serif;

    --white: 255, 255, 255;
    --black: 10, 10, 10;

    /* Gray */
    --gray-01: 242, 242, 242;
    --gray-02: 224, 224, 224;
    --gray-03: 189, 189, 189;
    --gray-04: 162, 162, 162;
    --gray-05: 117, 117, 117;
    --gray-06: 97, 97, 97;
    --gray-07: 77, 77, 77;
    --gray-08: 56, 56, 56;
    --gray-09: 33, 33, 33;
    --gray-10: 10, 10, 10;

    /* Sand */
    --sand-01: 247, 247, 244;
    --sand-02: 238, 237, 234;
    --sand-03: 227, 226, 224;
    --sand-04: 213, 211, 208;
    --sand-05: 196, 193, 190;
    --sand-06: 177, 173, 169;
    --sand-07: 157, 152, 148;
    --sand-08: 136, 131, 127;
    --sand-09: 115, 110, 106;
    --sand-10: 93, 88, 84;

    /* Blue */
    --blue-01: 237, 245, 254;
    --blue-02: 219, 234, 254;
    --blue-03: 191, 219, 254;
    --blue-04: 145, 200, 255;
    --blue-05: 96, 165, 250;
    --blue-06: 59, 130, 246;
    --blue-07: 37, 99, 235;
    --blue-08: 29, 78, 216;
    --blue-09: 30, 64, 175;
    --blue-10: 30, 58, 138;

    /* Green */
    --green-01: 220, 252, 231;
    --green-02: 187, 247, 208;
    --green-03: 134, 239, 172;
    --green-04: 74, 222, 128;
    --green-05: 34, 197, 94;
    --green-06: 22, 163, 74;
    --green-07: 21, 128, 61;
    --green-08: 22, 101, 52;
    --green-09: 20, 83, 45;
    --green-10: 20, 83, 45;

    /* Red */
    --red-01: 254, 242, 242;
    --red-02: 254, 226, 226;
    --red-03: 254, 202, 202;
    --red-04: 252, 165, 165;
    --red-05: 248, 113, 113;
    --red-06: 239, 68, 68;
    --red-07: 220, 38, 38;
    --red-08: 185, 28, 28;
    --red-09: 153, 27, 27;
    --red-10: 127, 29, 29;

    /* Yellow */
    --yellow-01: 254, 252, 232;
    --yellow-02: 254, 249, 195;
    --yellow-03: 254, 240, 138;
    --yellow-04: 253, 224, 71;
    --yellow-05: 250, 204, 21;
    --yellow-06: 234, 179, 8;
    --yellow-07: 202, 138, 4;
    --yellow-08: 161, 98, 7;
    --yellow-09: 133, 77, 14;
    --yellow-10: 113, 63, 18;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    margin: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 212);
    border-radius: 4px;
  }

  .default-layout-content {
    @apply mx-auto w-full min-w-[360px];
  }

  body {
    @apply overflow-x-hidden bg-white text-black;
  }
}
