/* ******************************************************************************** */
/* LOADER */
/* ******************************************************************************** */
.loader {
  width: 56px;
  height: 56px;
  border: 6px solid rgba(var(--gray-3));
  border-bottom-color: rgba(var(--red));
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
