/* SHADOW */
.shadow-1 {
  box-shadow: 3px 3px 12px 0 rgba(10, 10, 10, 0.08);
}

.shadow-2 {
  box-shadow: 0 -2px 10px 0 rgba(10, 10, 10, 0.06);
}

/* ******************************************************************************** */
/* LOADER */
/* ******************************************************************************** */
.loader {
  width: 56px;
  height: 56px;
  border: 6px solid rgba(var(--gray-3));
  border-bottom-color: rgba(var(--red));
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
